<!DOCTYPE html>
<html>
	<head>
		<meta CHARSET="UTF-8"/>
		<title>Registro de Usuario</title>

		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

		
		<style>
			body { background-color:lightblue;}

			.boxmodel4{background-color: #6F90A2;
				color:white;
				border: 1px solid #6F90A2;
				border-radius: 15px;
				width: 50%;
				height: 100%;
				margin: auto;
				}
			@media (max-width: 600px){
	div.boxmodel4{
		width: 100%;
	}
}
			h3 {text-align: center;
				color: white;
				font-family: georgia;}
		</style>

	</head>
<body>
	
	<form>
		<div class="boxmodel4">
			<h3> <hr>
			Ingrese:<br><br>
			Nombre y Apellido:<br>
			<input type="text"><br>
			DNI:<br>
			<input type="text"><br>
			Correo:<br>
			<input type="email" required=""><br><br></h3>
			<h3> <hr>
			Genere:<br><br>
			Nombre de Usuario:<br> 
			<input type="text" name="username"><br>
			Contraseña:<br>
			<input type="password" name="psw"><br><br>
			<input type="submit" class="btn btn-info" value="REGISTRARSE"><!-- enlace provisorio hasta ver el registro -->
			<a href="index.html" class="btn btn-info"> VOLVER </a>
			</h3>
		</div>
	</form>
</body>
</html>