{% extends "layouts/base.html" %}
	
{% block body %}
        <style>
			body { background-color:lightblue;}
			h2 {text-align: center;
				color: white;
				font-family: georgia;}
			p{text-align: justify;}
			h5 {text-decoration: underline;
				font-size: 1.3em;}
			h3 {text-align: center;
			color: white;
			font-family: georgia;}

    	</style>
		<h2> Guía de Trámites</h2>



		<div class="container">
            <div class="accordion accordion-flush" id="accordionFlushExample">
                  <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingOne">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                        Solicitud de Canteras
                      </button>
                    </h2>
                    <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                      <div class="accordion-body">
                        <h5>1º Paso: Presentación de Solicitud de Cantera</h5><br>
                        <p>El interesado deberá solicitar la concesión de una Cantera Fiscal o Inscripción de Cantera Privada, mediante lo siguiente:<br><br>

                        1)_Nota dirigida a la autoridad de aplicación, Firmada por el solicitante, detallando los siguientes datos:<br>

                        a)-Nombre y apellido del solicitante.*<br>
                        b)-Documento de identidad.*<br>
                        c)-Nacionalidad.*<br>
                        d)-Fecha de nacimiento.*<br>
                        e)-Estado civil.*<br>
                        f)-Profesión.*<br>
                        g)-Domicilio Real.*<br>
                        h)-En el caso de sociedades comerciales, constancia de inscripción en el registro público de comercio, debidamente certificada.*<br>
                        i)-Sustancias minerales a explotar.*<br>
                        j)-Plano o croquis de la cantera solicitada con coordenadas en el sistema oficial vigente (gauss- kruger sistema posgar/94), firmado por los solicitantes.<br>
                        k)-Nombre de la cantera.*<br>
                        l)-Descripción de los elementos y equipos que se afectaran a la explotación.*<br><br>

                        2)_Completar el formulario de solicitud y Firma del solicitante.<br>
                        3)_Presentar comprobante de pago de pesos un mil quinientos ( $1500), depositado en la Cuenta Corriente Número 46602202/22 del Fondo de Desarrollo Minero Sucursal: 3155 S.F.V. Catamarca, o a través de clave bancaria Uniforme (CBU) N° 01104664 – 20046602202228, Según Disposición DPM N° 141/2015 s/”Arancelamiento de solicitudes de concesión de canteras e inscripción”.<br>
                        4)_Foto 4x4 del solicitante.*<br>
                        5)_Copia de documento de identidad.*<br>
                        6)_Copia de factura de servicio para constatar domicilio.*<br><br>

                        (*)-datos obligatorios.<br><br>

                        Solo Para Solicitudes de Canteras Privadas<br><br>
                        Además de los Requisitos de Canteras enunciados anteriormente, se debe adjuntar la siguiente documentación:<br>
                        1. Título de propiedad.<br>
                        2. Certificado o informe de dominio actualizado, expedido por el registro de la propiedad y mandatos.<br>
                        3. Plano de mensura y/o relevamiento del predio donde se encuentra ubicado y su situación en el mismo (con coordenadas oficiales, gauss kruger, sistema Postgar/94). Establecer claramente la ubicación de la cantera en relación con el campo o la propiedad donde se ubica la misma, para lo cual en el croquis que se acompañe se debe observar su vinculación a dicha parcela.<br>
                        4. Si se estuviera explotando presentar planillas de producción.<br>
                        5. Si la explotación la realizará un tercero se deberá adjuntar la autorización correspondiente por parte del propietario del suelo (contrato, convenio, etc.), debidamente certificada ante Escribano Publico.<br>
                        6. Si el pedimento no tiene inconvenientes para su viabilidad, deberá ajustarse a la ley de canteras provincial N°4352.<br><br>
                        Según ley N°4352 – Decreto G. 1603<br>
                        s/ Concesión y explotación de sustancias minerales de 3° categoría, previstas en el Artículo 5 del Código de Minería de la Nación.<br>
                        Capítulo II DE LAS OBLIGACIONES – Art. 6, 11.</p><br><br>

                        <h5>2º Paso: Formación de Expediente y Viabilidad Grafica, Técnica y Ambiental.</h5><br>

                        <p>Una vez presentada toda la documentación antes mencionada, se formara expediente y pasara a las áreas competentes para realizar el análisis e inspección del sitio solicitado, como así también el control de la documentación.<br>
                        El solicitante deberá esperar la notificación en el domicilio declarado, para la publicación de los edictos, o en su defecto el informe de la viabilidad Grafica y Técnica de la cantera.<br><br></p>

                        <h5>3º Paso: Publicación de Edictos.</h5><br>

                        <p>1)_A partir de la fecha de su notificación, el solicitante tendrá un plazo de 30 días corridos, para retirar los edictos de la Dirección Provincial de Minería y realizar dicha publicación en la Dirección del Boletín Oficial e Imprenta, sito en calle Sarmiento 1120. Los edictos serán entregados en formato impreso y digital, para el cual el concesionario deberá traer un dispositivo de almacenamiento (cd, pendriver, etc.).<br>
                        2)_Una vez publicado el Edicto en dos (2) ediciones consecutivas, el interesado deberá retirar los mismos y realizar la presentación formal, en mesa de entrada de la Dirección Provincial de Minería, bajo la pena de tener por desistido el trámite.</p><br>
                        <h5>4º Paso: Notificación de Disposición.</h5><br>

                        <p>Se esperara 15 días corridos a partir de la fecha de la última publicación del boletín, y no habiéndose presentado oposición, se procederá a hacer la disposición de concesión de cantera, la cual será notificada en el Domicilio Legal declarado por el concesionario.</p><br>

                        <h5>5º Paso: Presentación de Documentación Posterior a la Concesión.</h5><br>

                        <p>Una vez concedida la cantera mediante Disposición de la Dirección Provincial de Minería, el concesionario deberá cumplir con los artículos establecidos en la misma; el incumplimiento dará lugar a la generación de posibles Multas y/o baja de la concesión.</p>
                      </div>
                    </div>
                  </div>
                  <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingTwo">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                        Planillas de Produccion - Liquidacion de Contribución
                      </button>
                    </h2>
                    <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                      <div class="accordion-body">
						  <h5>1º Paso: Solicitud y Compra de Planillas de Producción – Cálculo de Contribución</h5><br>

							<p>Según Decreto 615/88 Capítulo V. -

							1)_El concesionario deberá realizar la compra de planillas de producción, según disposición DPM N°135/2015 (vigente), donde se fijan los valores para el cobro de planillas (Tabla 1), realizando el depósito por la cantidad requerida, seis (6) o doce (12), en la Cuenta Corriente Número 46602202/22 del Fondo de Desarrollo Minero Sucursal: 3155 S.F.V. Catamarca, o a través de clave bancaria Uniforme (CBU) N° 01104664 – 20046602202228.
							2)_ presentar nota de solicitud adjunto a la boleta de depósito.
							3)_ Retirar las Planillas.</p><br>

							<h4>Tabla 1: de Valores para el COBRO DE PLANILLAS DE PRODUCCION Y ESTADISTICA</h4>


							  <p>(La emisión de las correspondientes planillas de producción, se realizara dentro de 24 a 72hs. posterior a la presentación de dicha solicitud.)</p><br>

							  <h5>2º Paso: Presentación de planillas de producción.</h5>

							<p>La presentación de dicha planilla deberá efectuarse dentro de los diez (10) días del mes siguiente, aun cuando no haya habido producción y mientras no se de aviso a la Dirección, de las circunstancias con indicación de las causas y el tiempo de la inactividad, según lo estipula el Decreto E.(DE) Nº 1465 CAPITULO IV , DE LAS OBLIGACIONES ART. 23 y 38.</p>
							<br>

							<h5>3º Paso: Emisión de Liquidación de Contribución.</h5>

							<p>La contribución se emite al concesionario una vez realizado el cálculo, en virtud de la declaración de material extraído, en planillas de producción, según Disposición DPM Nº 140/2015(vigente) S/Nuevos Valores para el Material Extraído de Canteras Fiscales tipo 2ª y 2b.</p>
							<br>

							<h5>4º Paso: Pago de contribución</h5>

							<p>El concesionario deberá presentar en mesa de entrada, el comprobante de depósito (original) realizado en la cuenta del Fondo Promoción de Desarrollo Minero, por el importe computado en la liquidación de contribución. Adjunto nota o copia de la misma, a fin de dar conocimiento sobre tal, recuerde que la omisión de este paso registrará la liquidación impaga y por lo consiguiente podrá recaer en multa por incumplimiento.</p>
					  </div>
                    </div>
                  </div>
                  <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingThree">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                        Solicitud de Hojas de Ruta
                      </button>
                    </h2>
                    <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                      <div class="accordion-body">
						  <h5>1º Paso: Solicitud de Hojas de Ruta</h5>
							<p>El concesionario deberá realizar la solicitud de Hojas de Ruta mediante nota con los siguientes datos, (Decreto 615/88 – Capitulo IV, Art.12):<br>
								<ul>
									<li>Datos del yacimiento, mina o cantera.</li>
									<li>Ubicación.</li>
									<li>Número de expediente.</li>
									<li>Concesionario o productor.</li>
									<li>Mineral.</li>
									<li>Cantidad.</li>
									<li>Destino.</li>
									<li>Destinatario.</li>
									<li>Medio de transporte.</li>
								</ul>
								<br>
							<h5>2º Paso: Evaluación de Cumplimiento</h5>

							<p>Se evaluara la situación de la cantera, mediante informe de cumplimiento, lo que determinara la emisión o no de las HDR.</p><br><br>

							<h5>3º Paso: compra de HDR</h5>

							<p>El concesionario deberá realizar la compra de hoja de ruta, según disposición DPM N°139/2015 (vigente), donde se fijan los nuevos valores para el cobro de emisión de hojas de ruta( Tabla 2), el deposito se realiza en la Cuenta Corriente Número 46602202/22 del Fondo de Desarrollo Minero Sucursal: 3155 S.F.V. Catamarca, o a través de clave bancaria Uniforme (CBU) N° 01104664 – 20046602202228.</p><br><br>

							<h4>Tabla 2: Valores para el COBRO DE HOJA DE RUTA PARA ELTRANSPORTE DE SUSTANCIAS MINERALES.</h4>

																		<h1>tabla</h1><br> <!--aqui se inserta imagen de tabla-->

							<h5>4º Paso: Emisión de Hojas de Ruta</h5>

							<p>El concesionario deberá presentar el comprobante de depósito y la documentación legal necesaria que lo acredite como concesionario o propietario de la cantera que tramita la correspondiente hoja de ruta. La Hoja de ruta será emitida en un lapso de 2 a 5 días hábiles dependiendo de la cantidad solicitada, solo a los inscriptos en el registro de productor minero.</p>

					  </div>
                    </div>
                  </div>
				  <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingFour">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
                        Liquidación de Canon
                      </button>
                    </h2>
                    <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour" data-bs-parent="#accordionFlushExample">
                      <div class="accordion-body">
						  <h4>CANON (solo canteras Fiscales)</h4><br>

							<p>El pago de Canon se rige según Disposición DPM Nº64/2016 (Vigente)
							Conforme lo establecido en artículo 216 del C.M. el canon se pagara adelantado y por partes iguales en dos semestres que vencerán el 30 de junio y el 31 de diciembre de cada año, contándose toda fracción de semestre, como semestre completo y comenzara a devengarse desde el día del registro.</p><br>

							<h5>1º Paso: Solicitud de Canon de Canteras</h5>

							<p>El concesionario deberá solicitar por nota la liquidación del canon de cantera, semestral o anual, según corresponda, especificando los datos de la cantera.</p><br>

							<h5>2º Paso: Emisión del canon</h5>

							<p>Se entregara al concesionario la liquidación correspondiente, en un plazo de 5 días hábiles, no se aceptaran pagos parciales de lo liquidado.</p><br>

							<h5>3º Paso: Pago del canon</h5>

							<p>Se presentara en mesa de entrada comprobante del depósito realizado en cuenta del Fondo de Desarrollo Minero, a fin de registrar el pago del canon.</p><br>

							<h5>4º Paso Emisión del Recibo Oficial</h5>

							<p>Para obtener el Recibo Oficial deberá solicitar por nota el certificado de libre Deuda, expedido por el Dpto.
							Registro Grafico y Fiscalización, y dirigirse al Servicio Administrativo Financiero para retirar recibo oficial.
							Los valores de canon y contribución de canteras se actualizarán anualmente según Ley Provincial Nº4352 Capítulo V art. 34.</p>
                      </div>
                    </div>
                  </div>
				  <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingFive">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseFive">
                        Certificado de Productor Minero
                      </button>
                    </h2>
                    <div id="flush-collapseFive" class="accordion-collapse collapse" aria-labelledby="flush-headingFive" data-bs-parent="#accordionFlushExample">
                      <div class="accordion-body">
                        <h4>Inscripción en el Registro de Productor Minero</h4>

						<p>Para solicitar el Certificado de Productor Minero, el productor deberá estar inscripto en el Registro de Productores Mineros, según ley de canteras Decreto E. N°615/88 –Capitulo III.</p><br>

						<h5>1º Paso: Para realizar la inscripción deberá presentar la documentación siguiente:</h5>

						<p>Nota solicitando la inscripción.<br><br>
						- Apellido y Nombre.*<br>
						- Nº D.N.I.*<br>
						- Razón Social.*<br>
						- Domicilio Legal.*<br>
						- Nombre del Yacimiento, Mina o cantera.*<br>
						- Ubicación.*<br>
						- Sustancia mineral que se extrae.*<br>
						- Copia de la sentencia interlocutoria (Minas) o Disposición DPM (canteras).*<br>
						- Teléfono<br>
						- E-mail<br>
						(* datos Obligatorios)<br><br>
						La documentación adicional solicitada se ajusta a la Disposición DPM Nº153/2012</p><br>

						<ul>
							<li>Copia de la autorización que certifique ha dicho gestor como representante de la empresa.</li>
							<li>Copia de 1º y 2º hoja de DNI.</li>
							<li>Una foto 4x4.</li>
						</ul>

						<p>Y copia certificada de:</p><br>

						<ul>
							<li>Constancia de inscripción en la AFIP.</li>
							<li>CEDULA FISCAL expedida por la Administración General de Rentas.</li>
							<li>Numero de cuil o cuit.</li>
							<li>Constancia de presentación de Informe de Impacto Ambiental.</li>
							<li>Nombre y ubicación de todas las minas y/o canteras cuya explotación efectué el productor.</li>
							<li>Tener al día la presentación de planillas de producción.</li>
							<li>Plan de trabajo vigente.</li>
							<li>Plan de higiene y seguridad vigente.</li>
							<li>Pago de canon minero al día.</li>
							<li>Pago de contribución al día.</li>
							<li>Certificado de dominio actualizado, para canteras privadas.</li>
						</ul>

						<br>
						<h5>2º Paso: Solicitud de Certificado de Productor Minero</h5>

						<p>Una vez inscripto, el concesionario podrá solicitar la emisión del Certificado de Productor Minero, el cual se extenderá en un lapso de 5 días hábiles. Para retirar el certificado deberá presentar estampilla de pesos cinco con 00/100 ($5).</p>

                      </div>
                    </div>
                  </div>
				  <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingSix">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseSix" aria-expanded="false" aria-controls="flush-collapseSix">
                        Plan de Trabajo - Plan de Higiene y Seguridad
                      </button>
                    </h2>
                    <div id="flush-collapseSix" class="accordion-collapse collapse" aria-labelledby="flush-headingSix" data-bs-parent="#accordionFlushExample">
                      <div class="accordion-body">
						  <h4>Todo plan de Higiene y Seguridad / Plan de Trabajo e Inversión deberá ajustarse a la ley de canteras Decreto E. N°615</h4>

							<p>El concesionario deberá presentar el plan de higiene y seguridad y el plan de trabajo, dentro del plazo establecido en la disposición de concesión, por duplicado (original y copia), adjuntando formato digital del mismo.</p><br>

							<h5>Presentación del Plan de Higiene y Seguridad</h5>

							<p>La presentación deberá ajustarse a los requisitos mínimos que debe tener un plan de higiene y seguridad detallados en planilla anexa.</p><br>

							<h5>Presentación del Plan de Trabajo</h5>

							<p>Para la presentación del plan de Trabajo el concesionario deberá ajustarse a la planilla anexa aprobada mediante disposición DPM Nº106/2013.<br>
							Se realizará el análisis de los planes y se notificara el resultado del mismo.</p>

					  </div>
                    </div>
                  </div>
				  <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingSeven">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseSeven" aria-expanded="false" aria-controls="flush-collapseSeven">
                        Presentación de Muestras de Minerales
                      </button>
                    </h2>
                    <div id="flush-collapseSeven" class="accordion-collapse collapse" aria-labelledby="flush-headingSeven" data-bs-parent="#accordionFlushExample">
                      <div class="accordion-body">
						  <h5>Presentación</h5><br>

							<p>Según Art. 46 del Código de Minería<br>
							El descubridor presentara un escrito ante la autoridad minera de la siguiente forma según lo establece el art. 5 del decreto 442/88:<br>
							• Si el mineral es observable a simple vista la muestra deberá ser de por lo menos 4 kg.; si no es viable entonces deberá ser de 15 kg.<br>
							• En el caso de gemas la muestra deberá contener por lo menos 3 cristales de tamaño suficiente para su determinación por métodos no destructivos, separados o no de su ganga y sin falla alguna.<br><br>

							Las muestras se presentarán convenientemente embaladas y rotuladas indicando:<br>
							a)_Tipo de yacimiento (vetiforme, diseminado, aluvional, mantiforme, etc.).<br>
							b)_Profundidad a la que fue tomada.<br>
							c)_Indicación de la sustancia de la que se trata.<br>
							d)_Nº del expediente que corresponda al trámite en cuestión.<br>
							e)_Procedencia: esta mención tendrá para el declarante características de DECLARACION JURADA, debiendo la Dirección de Minería receptarla en carácter de tal.<br><br>

							El descubridor deberá realizar el pago del arancel establecido en la disposición DPM N°138/2015 (vigente), donde se fijan los nuevos valores para el cobro del informe de análisis cualitativo de las muestras de minerales, realizado por el Laboratorio Químico Metalúrgico.</p><br>

							<h5>Escala de valores de los servicios de División Laboratorio Químico Metalúrgico</h5>
								<h1>tabla</h1><!--aqui se inserta imagen de tabla-->

					  </div>
                    </div>
                  </div>
				  <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingEight">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseEight" aria-expanded="false" aria-controls="flush-collapseEight">
                        Información de Registro Gráfico
                      </button>
                    </h2>
                    <div id="flush-collapseEight" class="accordion-collapse collapse" aria-labelledby="flush-headingEight" data-bs-parent="#accordionFlushExample">
                      <div class="accordion-body">
						  <h5>Solicitud de Información de Registro Grafico y Fiscalización</h5>

							<p>El concesionario deberá realizar el pago de un arancel para solicitar un servicio y/o producto del Dpto. Registro Grafico y Fiscalización, según disposición DPM N°02/2016 (vigente), donde se fijan los nuevos valores para el cobro de emisión de documentación, presentar el comprobante de pago adjunto a la solicitud.</p><br><br>

							<h6>ESCALA DE VALORES DE LOS SERVICIOS Y/O PRODUCTOS DEL DEPARTAMENTO REGISTRO GRÁFICO Y FISCALIZACIÓN A TERCEROS<br>
							BASE DE DATOS DE PROPIEDADES MINERAS DE LA PROVINCIA DE CATAMARCA</h6>

														<h1>tabla</h1><br><!--aqui se inserta imagen de tabla-->

							<h6>BASE DE DATOS DE CONCESIONES E INSCRIPCIONES DE LAS CANTERAS DE LA PROVINCIA DE CATAMARCA</h6>

														<h1>tabla</h1><br><!--aqui se inserta imagen de tabla-->

							<h6>IMPRESIONES DE PLANOS O CARTOGRAFIA DE LOS REGISTROS GRÁFICOS</h6>

														<h1>tabla</h1><br><!--aqui se inserta imagen de tabla-->

							<p>Emisión de Información y/o servicio<br>
							Se entregara al solicitante la información correspondiente, en un plazo de 5 días hábiles.</p>

					  </div>
                    </div>
                  </div>



			</div>
		</div>
    {% endblock %}