{% extends "layout/base.html" %}

{% block body %}

<div class="col-md-6 mx-auto my-5">
    <h1> Tramite detalle</h1>
    <div class="card card-body">
        <p>N° de Expediente: {{tramite.number}}</p>
        <p>Tipo de tramite: {{tramite.tipo}}</p>
        <p>Responsable solicitante: {{tramite.solicitante}}</p>
        <p>Creado por: {{tramite.user.username}}</p>
        <p>Fecha de creacion: {{tramite.date_created}}</p>
        <p>Fecha de completado: {{tramite.date_completed}}</p>
        <p>Completado por: {{tramite.completed_by}}</p>
        <p>Estado {{tramite.estado}}</p>
        <p>Nota: {{tramite.nota_by_admin}}</p>
    </div>
    <div class="d-flex justify-content-md-center my-2">
        <form action="{% url 'update_tramite' tramite.number %}" method="GET">
            {% csrf_token %}
            <button class="btn btn-primary">
                Modificar
            </button>
        </form>
        <form action="{% url 'delete_tramite' tramite.number %}" method="GET">
            {% csrf_token %}
            <button class="btn btn-primary">
                Borrar
            </button>
        </form>
    </div>
</div>



{% endblock %}