{% extends "layout/base.html" %}

{% block body %}



<div class="container">
    <div class="card card-body my-2">
        <form class="d-flex justify-content-end my-2 border" action="{% url 'search_tramite' %}" method="POST">
            {% csrf_token %}
            <div class="m-2">
                <label>Filtrar</label>
            </div>
            <div class="m-2">
                <input type="text" placeholder="Filtrar por N° de nota" id="number" name="number">
                <button class="btn btn-primary"> Buscar </button>
            </div>
        </form>
        <div class="table-responsive border h-25 w-100 overflow-scroll">
            <table class="table caption-top">
                <caption class="text-center my-2">
                    <strong>Tramites Pendientes</strong>
                </caption>
                <thead>
                    <tr>
                      <th scope="col">
                          <a href="{% url 'select_order' order='number' %}">
                                <p>N° de Nota</p>
                          </a>
                      </th>
                        <th scope="col">
                            <a href="{% url 'select_order' order='tipo' %}">
                                <p>Tipo</p>
                          </a>
                        </th>
                      <th scope="col">
                          <a href="{% url 'select_order' order='user' %}">
                                <p>Creado por</p>
                          </a>
                      </th>
                      <th scope="col">
                          <a href="{% url 'select_order' order='date_created' %}">
                                <p>Fecha de creacion</p>
                          </a>
                      </th>
                      <th scope="col">
                          <a href="{% url 'select_order' order='solicitante' %}">
                                <p>Solicitante</p>
                          </a>
                      </th>
                      <th scope="col">
                          <a href="{% url 'select_order' order='estado' %}">
                                <p>Estado</p>
                          </a>
                      </th>
                    </tr>
                </thead>
                <tbody>
                    {% for tramite in tramites_list %}
                     {% if tramite.estado != "R" %}
                    <tr>
                      <td>
                          <a href="{% url 'detail_tramite' tramite.number %}">
                                <p>{{tramite.number}}</p>
                          </a>
                      </td>
                      <td>{{tramite.tipo}}</td>
                      <td>{{tramite.user.username}}</td>
                        <td>{{tramite.date_created}}</td>
                      <td><p>{{tramite.solicitante}}</p></td>
                      <td><p>{{tramite.estado}}</p></td>
                    </tr>
                    {% endif %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="container">
            <form action="/manager/tramites/nuevo" method="GET" class="d-flex justify-content-end mt-2">
                {% csrf_token %}
                <button class="btn btn-primary">
                    Crear Nuevo Tramite
                </button>
            </form>
        </div>
    </div>
</div>

<div class="container">
    <div class="card card-body my-2">
        <form class="d-flex justify-content-end my-2 border" action="{% url 'search_tramite' %}" method="POST">
            {% csrf_token %}
            <div class="m-2">
                <label>Filtrar</label>
            </div>
            <div class="m-2">
                <input type="text" placeholder="Filtrar por N° de nota" id="number" name="number">
                <button class="btn btn-primary"> Buscar </button>
            </div>
        </form>
        <div class="table-responsive border h-25 w-100 overflow-scroll">
            <table class="table caption-top">
                <caption class="text-center my-2">
                    <strong>Tramites Completados</strong>
                </caption>
                <thead>
                    <tr>
                      <th scope="col">
                          <a href="{% url 'select_order' order='number' %}">
                                <p>N° de Nota</p>
                          </a>
                      </th>
                        <th scope="col">
                            <a href="{% url 'select_order' order='tipo' %}">
                                <p>Tipo</p>
                          </a>
                        </th>
                      <th scope="col">
                          <a href="{% url 'select_order' order='user' %}">
                                <p>Creado por</p>
                          </a>
                      </th>
                      <th scope="col">
                          <a href="{% url 'select_order' order='date_created' %}">
                                <p>Fecha de creacion</p>
                          </a>
                      </th>
                      <th scope="col">
                          <a href="{% url 'select_order' order='solicitante' %}">
                                <p>Solicitante</p>
                          </a>
                      </th>
                      <th scope="col">
                          <a href="{% url 'select_order' order='estado' %}">
                                <p>Estado</p>
                          </a>
                      </th>
                    </tr>
                </thead>
                <tbody>
                    {% for tramite in tramites_list %}
                     {% if tramite.estado == "R" %}
                    <tr>
                      <td>
                          <a href="{% url 'detail_tramite' tramite.number %}">
                                <p>{{tramite.number}}</p>
                          </a>
                      </td>
                      <td>{{tramite.tipo}}</td>
                      <td>{{tramite.user.username}}</td>
                        <td>{{tramite.date_created}}</td>
                      <td><p>{{tramite.solicitante}}</p></td>
                      <td><p>{{tramite.estado}}</p></td>

                    </tr>
                    {% endif %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}